<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Authors</title>
</head>
<% include head %>
<div class="content">
	<h1>Our Authors</h1>
	<ul>
	<% for(var i = 0; i < authors.length; i++) { %>
		<li><a href="/author/<%= authors[i].a_id %>"><%= authors[i].name %></li>
	<% } %>
	</ul>
</div>
</body>
</html>