<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<title>New Author</title>
</head>
<% include head %>
<div class="content">
	<h1>Becoming an author</h1>
	<form action="/authors" method="POST">
		<input type="text" name="name" placeholder="your name"><br>
		<br>
		<label>Tell us a little about yourself:</label><br>
		<textarea rows="5" cols="30"></textarea>
		<button>Submit</button>
	</form>
</div>

</body>
</html>