<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Discussion</title>
</head>

<% include head %>

<div class="content">
	<h1>Discussion: <%= page.title %></h1>
	Start a new discussion:<br>
	<br>
	<form action="/page/<%= page.id %>/discussions/add" method="POST">
		<label>Your name</label><br>
		<input type="text" name="d_name" placeholder="your name" required><br><br>
		<label>Title of Discussion</label><br>
		<input type="text" name="d_title" placeholder="discussion title" required><br><br>
		What would you like to say? <br>-Feel free to also type this in markdown format-<br>
		<textarea name="d_body" rows=10 cols=60 required></textarea>
		<input type="checkbox" name="comment" value="comment" required>
		<button>Submit</button>
	</form>
	<br>
	*If you are not sure what markdown format is, check out the 'How To Edit' page listed on the left. 
	<br>
	<br>
	<a href="/page/<%= page.id %>">Back to <%= page.title %></a><br>
	</p>
</div>
</body>
</html>

