<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Discussion</title>
</head>

<% include head %>

<div class="content">
	<h1>Oops, looks like you crashed the system <br> OR <br> You were trying to go somewhere non-existent</h1>
	<h2>Please try your query again.</h2>
	<img style="float: center;" src="http://media.giphy.com/media/EFyAyqmMZgwvK/giphy.gif">
</div>
</body>
</html>