<header>
	<div class="top">
	<ul>
		<li><a href="/author/new">Become An Author |</a></li>
		<li><a href="/pages/new">Add A Park |</a></li>
		<li><form action="/search" method="get">
		<input type="text" name="search" placeholder="search word" required>
		<button>Search</button></form></li>
	</ul>
	</div>
</header>
<body>
	<div id="panel">
	<img src="http://exploregram.com/wp-content/uploads/2015/02/Epic-road-trip-on-Route-11-around-Banff-National-Park-Alberta-Canada-with-@photojbartlett-@laurenepb.jpg" width="100px" height="100px">
	<h4>Road Trippin'</h4>
	<h3>Wiki</h3>
	<ul>
		<a href="/main">Main</a><br>
		<a href="/table_of_contents">Table Of Contents</a><br>
		<a href="/how_to_edit">How To Edit</a><br>
		<a href="/authors">Authors</a><br>
		<a href="/main/history">Site History</a><br>
	</ul>
	</div>