<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<title>How To</title>
</head>

<% include head %>

<div class="content">
<h1>How To Edit</h1>
<h3>This is a simple guide on how to add and edit the pages.</h3>
<p>
The pages are all created in markdown format meaning if you want special formatting for your text, you must follow the below format:

<ul>
	<li>To link to another park on this site, use [[exact park title]]. If the name is misspelled, your link will not work.</li>
	<li>To create an unordered list like this list, use ..* before your list items, where . denotes a space</li>
	<li>To create an ordered list, use #. format like 1., 2., etc.</li>
	<li>To create headers, use #. The greater amount of # the smaller your text</li>
	<li>To insert and image, use ![Alt Text for Image](image url)</li>
	<li>To create a hyperlink, use [anchor](url)</li>
	<li>To make your content bold, use two underscores on either side of text like such __bolded text here__</li>
	<li>To make your content italized, use one underscore on either side like such _italized text here_</li>
</ul>
<br>
<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">A markdown cheatsheet with more great information</a>
</p>
</div>

</body>
</html>