<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<title>Main</title>
</head>
<header>
	<div class="top">
	<ul>
		<a href="/author/new">Become An Author</a>
		<a href="/search">Search</a>
	</ul>
	</div>
</header>
<body>
	<div id="panel">
	<img src="" width="100px" height="100px">
	<ul>
		<a href="/main">Main</a><br>
		<a href="/table_of_contents">Table Of Contents</a><br>
		<a href="/how_to_edit">How To Edit</a><br>
		<a href="/authors">Authors</a><br>
	</ul>
	</div>
<div class="content">
	<h1>Main </h1>

</div>
</body>
</html>