<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Main</title>
</head>
<% include head %>
<div class="content">
	<h1>Main</h1>
	<p>A classical activity that is dying due to high gas, toll, life prices and a greater green consciousness. Say you were to plan your dream trip, where would you want to go? What roads or routes would you want to take? How would it be done? <br> <br> National parks are on my top hit list. Included are some must visits. What are yours? How would it be done? What are the park's admission cost or park fee? Do the parks offer campsites? Are there showers available? This Wiki was created to simplify all of this information so you can get on the road faster.<br> <br> Add pages with the park name and a little about the park. Then add sections to the park elaborating on the above points and anything else necessary.
	</p>
</div>
</body>
</html>



