<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Content</title>
</head>
<% include head %>
<div class="content">
	<h1>Table of Contents</h1>
	<ul>
	<% for(var i = 0; i < pages.length; i++) { %>
	<li><a href="/page/<%= pages[i].p_id %>"><%= pages[i].title %></a></li>
	<% } %>
	<ul>
</div>
</body>
</html>


