<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Subscribed</title>
</head>

<% include head %>

<div class="content">
	<h1>Congratulations! You've subscribed to <a href="/page/<%= page_id %>"><%= page_title %></a></h1>
	<p>You will be emailed when there is an update to the page. <br>
		There are details on how to unsubscribe in the email sent to you.<br>
		The email is sent from SendGrid so be sure to check for them in your inbox/junk folder.
	</p>
</div>
</body>
</html>