.top {
	height: 100px;
	float: right;
}
#panel {
	width: 120px;
	font-size: 15px;
	float: left;
}
#panel a {
	text-decoration: none;
	color: blue;
	padding: 5px;
	float: left;
}
#panel ul {
	padding: 15px;
	padding-right: 20px;
}
#panel a:hover, .top a:hover, .content a:hover {
	color: grey;
}
.top a, .content a {
	text-decoration: none;
	color: blue;
}
.top ul {
	padding: 10px;
	padding-right: 20px;
}
.top li {
	padding: 10px;
	font-size: 15px;
}
.content {
	width: 700px;
	padding-top: 70px;
	padding-left: 20px;
	float: left;
}
.content img {
	float: right;
	padding: 10px;
}
.content li {
	text-decoration: none;
	display: block;
	padding: 5px;
}


/*Need to get the content width to be relative and the height of panel to be entire side of page*/
